{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
    /* Sobrescribiendo las variables nativas de Django Admin */
    :root {
        --primary: #1a365d;         /* Azul oscuro institucional */
        --secondary: #2b6cb0;       /* Azul medio para acentos */
        --header-color: #ffffff;    /* Texto del header */
        --header-bg: #1a365d;       /* Fondo del header principal */
        --header-link-color: #e2e8f0;
        --button-bg: #2b6cb0;       /* Botones primarios (Guardar) */
        --button-hover-bg: #2c5282;
        --breadcrumbs-bg: #f4f7f6;
        --breadcrumbs-fg: #2b6cb0;
        --breadcrumbs-link-fg: #1a365d;
    }

    /* Un pequeño ajuste al título para que destaque más */
    #site-name a {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
</style>
{% endblock %}